/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: rgba(224, 241, 232, 0.93);
    
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
}

nav .logo h1 {
    font-family:Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size:3rem;
    margin-right: 10px;
}

.logoImg{
    height: 70px;
    width: 70px;
}

nav .nav-links a {
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav .nav-links a:hover {
    background-color: #089131;
}

/* .logo{
    font-family:Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
} */

/* Main */
main {
    padding: 20px;
}

/* Add this to your CSS file */

/* Styles for the hero section */
.hero {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align vertically */
    justify-content: flex-start; /* Align horizontally to the start (left) */
    padding: 20px;
    text-align: left; /* Align text to the left */
}

.hero img {
    max-width: 50%; /* Adjust this as needed */
    max-height: 20% ; /* Ensure the image height auto adjusts to maintain aspect ratio */
    border-radius: 10px; /* Optional: adds rounded corners to the image */
    margin-right: 20px;
    border-radius: 100%; /* Add some space between the image and any other content */
}

.hero-content {
    /* Style the text content next to the image */
    flex: 1; /* Takes up the remaining space */
}

.hero-content h2 {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-size: 4em; /* Large text for the main headline */
    color: #4CAF50; /* Color of the headline */
    margin-bottom: 1em;
}

.hero-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em; /* Size of the subtext */
    color:#4CAF50; /* Color of the paragraph text */
    margin-bottom: 1em;
}