{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - My Irrigation System</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <nav>
        <!-- Navbar content -->
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <div class="dashboard-container">
        <h1>Welcome, {{ user.get_full_name|default:user.username }}!</h1>
        <p></p>

        <h2>Soil Moisture Gauge</h2>
        <!-- Container for the soil moisture gauge -->
        <div id="device-connection-message"></div>
        <div id="soil-moisture-gauge"></div> 

        <!-- Button to toggle the pump -->
        <button id="pump-toggle" onclick="togglePump()">Pump</button>

        <!-- Input for setting the time to turn on the pump -->
        <label for="pump-timer">Set Pump Timer (24hr format - HH:MM):</label>
        <input type="time" id="pump-timer" name="pump-timer" required>
        <div id="message"></div>
        <div id="pump-on-message"></div>


        <!-- Button to set the pump timer -->
        <button id="set-timer" onclick="setPumpTimer()">Set Timer</button>
    </div>

    

    <script src="{% static 'justguage/raphael-min.js' %}"></script> <!-- Raphael dependency for JustGage -->
<script src="{% static 'justguage/justguage.js' %}"></script> <!-- JustGage library -->

    <script src="{% static 'dashboard.js' %}"></script> <!-- Custom JavaScript for the dashboard -->
</body>
</html>
