{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'authentication.css' %}">
</head>
<body>
  <div class="content-container">
    <div class="image-container">
      <img src="{% static 'image/tractor_water.jpg' %}" alt="Your Image Description">
    </div>
    <div class="login-container">
      <div class="register-link">
        <a href="{% url 'landing' %}">Home</a>
        <a href="{% url 'register' %}">Register</a>
      </div>
      <h1>Login</h1>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            <div class="error-message">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
